.result{
  border: 1;
  background-color: #30638b;
  color: #ccfbf9;
  padding: 2%;
  list-style: none;
  margin: 20px;
}

 li{
  list-style: none;
  margin: 20px;
  margin-left: 16%;

}

.res{
  color: #30638b;
  font-size:20pt;
  background-color: #ccfbf9;
  padding: 15px;
  margin-right: 15px;
}
