.player{
  margin: 20px;
  background-color: #8080807d;
}

.player h1{
  text-align: center;
  font-family: 'Ultra', serif;
  background-color: #ccfbf9;
  color: #30638b;
}

.choices{
  margin: 20px;
}

.choices img{
  margin: 20px;
  width: 200px;
  height: 200px;
}

.choices button{
  margin-right: 4%;
  margin-bottom: 30px;
  margin-left: 3px;
}
